---
import BaseLayout from '@/layouts/BaseLayout.astro';
import { getCollection } from 'astro:content';

const projects = await getCollection(
  'projects',
  ({ data }) => data.locale === 'pl'
);

// opcjonalnie sortowanie
projects.sort((a, b) =>
  a.data.title.localeCompare(b.data.title, 'pl')
);
---
<BaseLayout>
  <main transition:animate="slide" class="container">
    <h1 class="h1 mb-4">Projekty</h1>
    <ul>
      {projects.map((project) => (
        <li>
          <a href={`/pl/projekty/${project.id}`}>
            <article>
              <h2 class="h2 mb-2">{project.data.title}</h2>
              <p>{project.data.description}</p>
            </article>
          </a>
        </li>
      ))}
    </ul>
  </main>
</BaseLayout>
