---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout
  title="Contact — Visual Label"
  description="Get in touch with us."
>
  <main class="container">
    <h1 class="display mt-24 mb-4">Contact</h1>
  </main>
</BaseLayout>
