---
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout
  title="Contact — Visual Label"
  description="Get in touch with us."
>
  <main class="container mt-36 mb-24">
    <h1 class="display mb-4">Contact</h1>
  </main>
</BaseLayout>
