---
import BaseLayout from '@/layouts/BaseLayout.astro';
---
<BaseLayout
  title="Visual Label — Creative Studio"
  description="Creative studio building modern websites."
>
  <main class="container">
    <section class="-mt-12 pb-12 h-[75vh] flex items-end border-b border-[var(--border)]">
      <h1 class="h1 text-pretty md:max-w-[75%] lg:max-w-[66%]">Creating the desired brand image, online and beyond.</h1>
      </div>
  </main>
</BaseLayout>
