---
import BaseLayout from '@/layouts/BaseLayout.astro';
---
<BaseLayout>
  <main transition:animate="slide" class="container">
    <div class="container mx-auto mt-24">
      <h1 class="display mb-4">Studio</h1>
      <p class="mb-12 text-[var(--muted)]">About our studio.</p>
      <div class="w-full pb-[75%] lg:pb-[30%] flex bg-[var(--background-1)]"></div> 
    </div>
  </main>
</BaseLayout>
