---
import { cn } from '@/utils/styles-merge';

const {
  variant = "primary",
  size = "default",
  href,
  class: className = "",
  ...props
} = Astro.props;

const base =
  "cursor-pointer inline-flex justify-center items-center tracking-wide leading-none whitespace-nowrap border border-transparent rounded-full transition-colors";

const sizes = {
  default: "min-h-10 px-6 text-base",
  small: "h-6 px-3 text-sm !leading-none",
  icon: "min-h-8 min-w-[2rem] px-1 text-sm",
} as const;

const variants = {
  primary: `bg-[var(--foreground)] text-[var(--background)] hover:bg-[var(--foreground-1)] focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-[var(--foreground)] active:bg-[var(--foreground-1)]`,
  secondary: `text-[var(--foreground)] border-[var(--foreground)] hover:bg-[var(--foreground-1)] hover:text-[var(--background)] focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-[var(--foreground-1)] active:bg-[var(--foreground-1)] active:text-[var(--background)]`,
  outline: `bg-transparent border-[var(--border)] text-[var(--foreground-1)] hover:border-[var(--foreground)] hover:text-[var(--foreground)] focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-[var(--foreground)] focus-visible:border-transparent active:border-[var(--foreground)] active:text-[var(--foreground)]`,
  ghost: `bg-transparent text-[var(--foreground)] hover:bg-[var(--background-3)] focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-[var(--background-3)] active:bg-[var(--background-3)]`,
  link: `text-inherit font-semibold min-h-auto p-0 bg-transparent text-[var(--foreground)] decoration-2 hover:underline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-[var(--background-3)] active:underline`,
} as const;

const classes = cn(
  base,
  sizes[size as keyof typeof sizes],
  variants[variant as keyof typeof variants],
  className
);
---
{
  href ? (
    <a class={classes} href={href} {...props}>
      <slot />
    </a>
  ) : (
    <button class={classes} {...props}>
      <slot />
    </button>
  )
}
