---
import BaseLayout from '@/layouts/BaseLayout.astro';
---
<BaseLayout
  title="Kontakt — Visual Label"
  description="Skontaktuj się z nami."
>
  <main class="container mt-36 mb-24">
    <h1 class="display mb-4">Kontakt</h1>
  </main>
</BaseLayout>
