---
import BaseLayout from '@/layouts/BaseLayout.astro';
---
<BaseLayout>
  <main class="container">
    <h1 class="display mt-24 mb-4">Studio</h1>
    <p class="mb-12 text-[var(--muted)]">O naszym studio.</p>
    <div class="w-full pb-[75%] lg:pb-[30%] flex bg-[var(--background-1)]"></div> 
  </main>
</BaseLayout>
